.todo-heading{
   text-align: center;
   font-family: 'Roboto';
}

.task-heading{
  font-weight: 800;
  font-family: 'Roboto';
}

.span-task{
  font-weight: 400;
}

.label{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  
}

.input-field{
  width: 80%;
  height: 35px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #111111;

}

.checkbox{
  width: 20px;
  margin-left: 10px;
  height: 20px;
}